body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.outer-square {
    width: 200px;
    height: 200px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-square {
    width: 80px;
    height: 80px;
    background-color: darkgreen;
}
